<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords"
        content="Я Мэтт., Мои работы Навыки, Опыт работы, 25+ лет опыта, Мое образование, Давайте работать вместе. Исправим встречу, Свяжитесь с нами">
  <meta name="description" content="">
  <title>О себе</title>
  <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="../static/css/О-себе.css" media="screen">
  <script class="u-script" type="text/javascript" src="../static/js/jquery.js"
          defer=""></script>
  <script class="u-script" type="text/javascript"
          src="../static/js/nicepage.js" defer=""></script>


  <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|PT+Sans:400,400i,700,700i|Roboto+Slab:100,200,300,400,500,600,700,800,900">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site2",
		"logo": "images/2025-03-09142332.png"
}</script>
  <meta name="theme-color" content="#7391c4">
  <meta property="og:title" content="О себе">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body data-path-to-root="./" data-include-products="false"
      class="u-body u-xl-mode" data-lang="ru">
<header
  class="u-clearfix u-custom-color-2 u-header u-valign-middle-xs u-header"
  id="header"><a href=".." data-page-id="546228711"
                 class="u-image u-logo u-image-1" data-image-width="413"
                 data-image-height="128" title="Главная">
  <img src="../static/images/2025-03-09142332.png"
       class="u-logo-image u-logo-image-1">
</a>
  <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1"
       data-submenu-level="on-click">
    <div class="menu-collapse u-custom-font u-font-roboto"
         style="font-size: 1.375rem; letter-spacing: 0px;">
      <a
        class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-hamburger-link u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-palette-2-base u-hamburger-link-1"
        href="#">
        <svg class="u-svg-link" viewBox="0 0 24 24">
          <use xlink:href="#menu-hamburger"></use>
        </svg>
        <svg class="u-svg-content" version="1.1" id="menu-hamburger"
             viewBox="0 0 16 16" x="0px" y="0px"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect y="1" width="16" height="2"></rect>
            <rect y="7" width="16" height="2"></rect>
            <rect y="13" width="16" height="2"></rect>
          </g>
        </svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-custom-font u-font-roboto u-nav u-unstyled u-nav-1">
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="../bio/" style="padding: 10px 16px;">О себе</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="..#carousel_a251" data-page-id="546228711"
          style="padding: 10px 16px;">Услуги</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="../bio/#carousel_7a9f" data-page-id="1934716400"
          style="padding: 10px 16px;">Сертификаты</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="../reviews/" style="padding: 10px 16px;">Отзывы</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="..#carousel_aa08" data-page-id="546228711"
          style="padding: 10px 16px;">Статьи</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="..#carousel_204c" data-page-id="546228711"
          style="padding: 10px 16px;">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div
        class="u-container-style u-custom-color-5 u-inner-container-layout u-sidenav">
        <div class="u-inner-container-layout u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul
            class="u-align-center u-custom-font u-font-roboto-slab u-nav u-popupmenu-items u-text-custom-color-6 u-unstyled u-nav-2">
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../bio/">О себе</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="..#carousel_a251"
                                      data-page-id="546228711">Услуги</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../bio/#carousel_7a9f"
                                      data-page-id="1934716400">Сертификаты</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../bio/">Отзывы</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="..#carousel_aa08"
                                      data-page-id="546228711">Статьи</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="..#carousel_204c"
                                      data-page-id="546228711">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
  </nav>
</header>
<section
  class="u-align-center u-clearfix u-container-align-center u-valign-middle-lg u-valign-middle-xl u-white u-section-1"
  id="carousel_7a9f">


  <div class="u-container-style u-expanded-width u-group u-white u-group-1">
    <div class="u-container-layout u-container-layout-1">
      <h2
        class="u-align-center u-text u-text-custom-color-5 u-text-default u-text-1">
        Арбулиев Камиль Магомедович </h2>
      <div
        class="custom-expanded u-custom-color-4 u-shape u-shape-rectangle u-shape-1"></div>
      <img class="custom-expanded u-image u-image-default u-image-1"
           src="../static/images/WhatsApp2025-03-1321.35.35_bf85a4fd-Photoroom.png"
           alt="" data-image-width="640" data-image-height="626">
      <p
        class="u-custom-font u-font-roboto u-text u-text-custom-color-5 u-text-2">
        Уролог, андролог, доктор медицинских наук, член
        правления Российского общества урологов, заведующий кафедрой урологии
        ДГМУ,
        сотрудник отделения рентген-эндоскопической урологии в Республиканском
        урологическом
        центре в г. Махачкала, врач уролог МЦ «ООО Целитель» в г Махачкала.
        Коротко о
        себе: родился в г Махачкала в 1970 году. В 1994 году окончил
        Дагестанский
        государственный медицинский институт в г Махачкала. В 1994-1996 годах
        проходил
        обучение в клинической ординатуре по специальности урология.&nbsp;<br>
        <br>Общемедицинский
        стаж 34 года (в 1991-1994 г работал мед братом в отделении торакальной
        хирургии
        и в отделении урологии РКБ в г. Махачкала), стаж работы по
        специальности 30 лет,
        с 2006 года врач-уролог высшей категории, в 2000 году защитил
        кандидатскую
        диссертацию, а в 2010 году докторскую диссертацию. Многократно выезжал
        для
        оказания плановой и экстренной помощи урологическим больным в города и
        сёла
        Республики Дагестан. Многократно проходил курсы повышения квалификации
        и
        специализации по современным методикам малоинвазивного лечения в
        урологии.<br>
        <br>Занимаюсь
        лечебной работой по специальностям урология и андрология в
        Республиканском
        урологическом центре и в медицинском центре «ООО Целитель» в г
        Махачкала, обучаю
        клинических ординаторов, врачей – курсантов ФПК, руковожу научной
        работой
        аспирантов, провожу научную и педагогическую работу на кафедре урологии
        ДГМУ г.
        Махачкала.
      </p>
      <p
        class="u-align-center u-custom-font u-font-roboto u-text u-text-custom-color-5 u-text-3">
        СЕРТИФИКАТЫ И ДИПЛОМЫ</p>
      <div
        class="custom-expanded u-border-2 u-border-custom-color-3 u-carousel u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1"
        data-interval="5000" data-u-ride="carousel" id="carousel-b668">
        <ol
          class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
          <li data-u-target="#carousel-b668" data-u-slide-to="0"
              class="u-active u-grey-70 u-shape-circle"
              style="width: 10px; height: 10px;"></li>
          <li data-u-target="#carousel-b668" data-u-slide-to="1"
              class="u-grey-70 u-shape-circle"
              style="width: 10px; height: 10px;"></li>
          <li data-u-target="#carousel-b668" data-u-slide-to="2"
              class="u-grey-70 u-shape-circle"
              style="width: 10px; height: 10px;"></li>
          <li data-u-target="#carousel-b668" data-u-slide-to="3"
              class="u-grey-70 u-shape-circle"
              style="width: 10px; height: 10px;"></li>
        </ol>
        <div class="u-carousel-inner u-gallery-inner" role="listbox">
          <div
            class="u-active u-carousel-item u-effect-fade u-gallery-item u-shape-rectangle u-carousel-item-1"
            data-image-width="1279" data-image-height="930">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded"
                   src="../static/images/1.jpg">
            </div>
            <div
              class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1"></div>
            <style data-mode="XL"></style>
            <style data-mode="LG"></style>
            <style data-mode="MD"></style>
            <style data-mode="SM"></style>
            <style data-mode="XS"></style>
          </div>
          <div
            class="u-carousel-item u-effect-fade u-gallery-item u-shape-rectangle u-carousel-item-2"
            data-image-width="1280" data-image-height="720">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded"
                   src="../static/images/31.jpg">
            </div>
            <div
              class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2"></div>
            <style data-mode="XL"></style>
            <style data-mode="LG"></style>
            <style data-mode="MD"></style>
            <style data-mode="SM"></style>
            <style data-mode="XS"></style>
          </div>
          <div
            class="u-carousel-item u-effect-fade u-gallery-item u-shape-rectangle u-carousel-item-3"
            data-image-width="1280" data-image-height="922">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded"
                   src="../static/images/4.jpg">
            </div>
            <div
              class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-3"></div>
            <style data-mode="XL"></style>
            <style data-mode="LG"></style>
            <style data-mode="MD"></style>
            <style data-mode="SM"></style>
            <style data-mode="XS"></style>
          </div>
          <div
            class="u-carousel-item u-effect-fade u-gallery-item u-shape-rectangle u-carousel-item-4"
            data-image-width="1280" data-image-height="956">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded"
                   src="../static/images/21.jpg">
            </div>
            <div
              class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-4"></div>
            <style data-mode="XL"></style>
            <style data-mode="LG"></style>
            <style data-mode="MD"></style>
            <style data-mode="SM"></style>
            <style data-mode="XS"></style>
          </div>
        </div>
        <a
          class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
          href="#carousel-b668" role="button" data-u-slide="prev">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
              </span>
          <span class="sr-only">
                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
              </span>
        </a>
        <a
          class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
          href="#carousel-b668" role="button" data-u-slide="next">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
              </span>
          <span class="sr-only">
                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
              </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section
  class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-palette-4-light-2 u-section-2"
  id="carousel_7305">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2
      class="u-align-center u-text u-text-custom-color-5 u-text-default u-text-1"
      data-animation-name="customAnimationIn" data-animation-duration="1500"
      data-animation-delay="0"> Опыт работы</h2>
    <div
      class="u-align-center u-border-1 u-border-palette-1-base u-line u-line-horizontal u-line-1"
      data-animation-name="customAnimationIn" data-animation-duration="1000"
      data-animation-delay="0"></div>
    <div class="custom-expanded u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-left u-container-align-left u-container-align-left-xl u-container-style u-list-item u-repeater-item u-list-item-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="500">
          <div
            class="u-container-layout u-similar-container u-container-layout-1">
            <div
              class="custom-expanded u-container-style u-group u-shape-rectangle u-group-1">
              <div
                class="u-container-layout u-valign-top u-container-layout-2">
                <h5 class="u-text u-text-custom-color-5 u-text-2">
                  Республиканский урологический центр г. Махачкала</h5>
                <a
                  href="https://yandex.ru/maps/org/gbu_rd_respublikanskiy_urologicheskiy_tsentr/1730230424/?ll=47.449602%2C42.985263&amp;z=16.85"
                  class="u-active-none u-btn u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-1"
                  title="Яндекс карты" target="_blank">
                      <span class="u-icon u-icon-1"><svg class="u-svg-content"
                                                         viewBox="0 0 54.757 54.757"
                                                         x="0px" y="0px"
                                                         style="width: 1em; height: 1em;"><path
                        d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952
	L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7
	S31.416,26,27.557,26z" class="" style=""></path></svg></span>Махачкала
                </a>
              </div>
            </div>
            <h4 class="u-text u-text-custom-color-5 u-text-default u-text-3">
              Врач-уролог&nbsp;</h4>
            <h6 class="u-text u-text-custom-color-5 u-text-default u-text-4">
              1996 г. — настоящее время&nbsp;</h6>
          </div>
        </div>
        <div
          class="u-align-left u-container-align-left u-container-align-left-xl u-container-style u-list-item u-repeater-item u-list-item-2"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="500">
          <div
            class="u-container-layout u-similar-container u-container-layout-3">
            <div
              class="custom-expanded u-container-style u-group u-shape-rectangle u-group-2">
              <div
                class="u-container-layout u-valign-top u-container-layout-4">
                <h5 class="u-text u-text-custom-color-5 u-text-5"> Дагестанский
                  государственный медицинский университет</h5>
                <a
                  href="https://yandex.ru/maps/org/dagestanskiy_gosudarstvenny_meditsinskiy_universitet/1072768558/?ll=47.501210%2C42.983621&amp;z=16.85"
                  class="u-active-none u-btn u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-2"
                  title="Яндекс карты" target="_blank">
                      <span class="u-icon u-icon-2"><svg class="u-svg-content"
                                                         viewBox="0 0 54.757 54.757"
                                                         x="0px" y="0px"
                                                         style="width: 1em; height: 1em;"><path
                        d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952
	L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7
	S31.416,26,27.557,26z" class="" style=""></path></svg></span>Махачкала
                </a>
              </div>
            </div>
            <h4 class="u-text u-text-custom-color-5 u-text-default u-text-6">
              Заведующий кафедры<br>урологии
            </h4>
            <h6 class="u-text u-text-custom-color-5 u-text-default u-text-7">
              2002 г. — настоящее время&nbsp;</h6>
          </div>
        </div>
        <div
          class="u-align-left u-container-align-left u-container-align-left-xl u-container-style u-list-item u-repeater-item u-list-item-3"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="500">
          <div
            class="u-container-layout u-similar-container u-container-layout-5">
            <div
              class="custom-expanded u-container-style u-group u-shape-rectangle u-group-3">
              <div
                class="u-container-layout u-valign-top u-container-layout-6">
                <h5 class="u-text u-text-custom-color-5 u-text-8"> МЦ «ООО
                  Целитель»&nbsp;</h5>
                <a
                  href="https://yandex.ru/maps/org/tselitel/31984127437/?ll=47.489928%2C42.975686&amp;z=16.85"
                  class="u-active-none u-btn u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-3"
                  title="Яндекс карты">
                      <span class="u-icon u-icon-3"><svg class="u-svg-content"
                                                         viewBox="0 0 54.757 54.757"
                                                         x="0px" y="0px"
                                                         style="width: 1em; height: 1em;"><path
                        d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952
	L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7
	S31.416,26,27.557,26z" class="" style=""></path></svg></span>Махачкала
                </a>
              </div>
            </div>
            <h4 class="u-text u-text-custom-color-5 u-text-default u-text-9">
              Врач-уролог</h4>
            <h6 class="u-text u-text-custom-color-5 u-text-default u-text-10">
              2023 г. — настоящее время&nbsp;</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-palette-1-light-3 u-section-3"
  id="carousel_77d9">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2
      class="u-align-center u-text u-text-custom-color-5 u-text-default u-text-1"
      data-animation-name="customAnimationIn" data-animation-duration="1500"
      data-animation-delay="0">Мое образование</h2>
    <div
      class="u-align-center u-border-1 u-border-palette-1-base u-line u-line-horizontal u-line-1"
      data-animation-name="customAnimationIn" data-animation-duration="1000"
      data-animation-delay="0"></div>
    <div class="custom-expanded u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="500">
          <div
            class="u-container-layout u-similar-container u-container-layout-1">
            <h4 class="u-text u-text-custom-color-5 u-text-default u-text-2">
              Дагестанский<br>государственный<br>медицинский<br>университет
            </h4>
            <h6
              class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-3">
              1994<span class="u-text-custom-color-5"></span> г.
            </h6>
            <div
              class="custom-expanded u-container-style u-group u-shape-rectangle u-group-1">
              <div class="u-container-layout u-container-layout-2">
                <h5 class="u-text u-text-custom-color-5 u-text-4">Лечебное
                  дело</h5>
                <p class="u-text u-text-custom-color-5 u-text-5"> Программа
                  «Лечебное дело» включает в себя широкий круг дисциплин для
                  подготовки специалиста врача-лечебника. Особое внимание
                  уделяется преподаванию фундаментальных дисциплин, что
                  формирует широкий естественно-научный кругозор у обучающихся.
                  Особенности программы «Лечебное дело» позволяют сформировать
                  у обучающихся не только профессиональные компетенции врача,
                  но и подходы к ведению научных исследований на высоком
                  уровне, а также быть готовыми к использованию современных
                  методов и технологий, в том числе, цифровых, опирающихся на
                  новейшие научные достижения в области медицины.</p>
                <a
                  href="https://yandex.ru/maps/org/dagestanskiy_gosudarstvenny_meditsinskiy_universitet/1072768558/?ll=47.501210%2C42.983621&amp;z=16.85"
                  class="u-active-none u-btn u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-1"
                  title="Яндекс карты" target="_blank">
                      <span class="u-icon u-icon-1"><svg class="u-svg-content"
                                                         viewBox="0 0 54.757 54.757"
                                                         x="0px" y="0px"
                                                         style="width: 1em; height: 1em;"><path
                        d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952
	L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7
	S31.416,26,27.557,26z" class="" style=""></path></svg></span>Махачкала
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-2"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500" data-animation-delay="500">
          <div
            class="u-container-layout u-similar-container u-container-layout-3">
            <h4 class="u-text u-text-custom-color-5 u-text-default u-text-6">
              Дагестанский<br>государственный<br>медицинский<br>университет
            </h4>
            <h6
              class="u-text u-text-custom-color-5 u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-7">
              1996 г.</h6>
            <div
              class="custom-expanded u-container-style u-group u-shape-rectangle u-group-2">
              <div class="u-container-layout u-container-layout-4">
                <h5 class="u-text u-text-custom-color-5 u-text-8"> Ординату​ра
                  на к​​​афедре урологии</h5>
                <p
                  class="u-custom-font u-font-pt-sans u-text u-text-custom-color-5 u-text-9">
                  Кафедра урологии ИДПО ДГМУ была организована в 1985 году на
                  базе ранее существовавшего курса урологии. На кафедре ведётся
                  преподавание урологии и андрологии по программе специалитета
                  студентам 4 курса лечебного и педиатрического факультетов,
                  ведётся обучение клинических ординаторов по специальности
                  урология, обучаются аспиранты, а так же проводятся циклы
                  повышения квалификации, курсы профессиональной переподготовки
                  для специалистов урологов по программам ФПК ППС. Кроме того,
                  проводится производственная практика «Помощник процедурной
                  медсестры» для студентов 3 курса лечебного факультета.</p>
                <a
                  href="https://yandex.ru/maps/org/dagestanskiy_gosudarstvenny_meditsinskiy_universitet/1072768558/?ll=47.501210%2C42.983621&amp;z=16.85"
                  class="u-active-none u-btn u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-2"
                  title="Яндекс карты" target="_blank">
                      <span class="u-icon u-icon-2"><svg class="u-svg-content"
                                                         viewBox="0 0 54.757 54.757"
                                                         x="0px" y="0px"
                                                         style="width: 1em; height: 1em;"><path
                        d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952
	L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7
	S31.416,26,27.557,26z" class="" style=""></path></svg></span>Махачкала
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-4" id="sec-1838">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div
      class="data-layout-selected u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-container-align-left-xl u-container-style u-layout-cell u-size-22-lg u-size-22-xl u-size-28-md u-size-28-sm u-size-28-xs u-layout-cell-1"
            data-animation-name="customAnimationIn"
            data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-container-layout-1">
              <h2 class="u-align-left u-text u-text-custom-color-3 u-text-1">
                Повышение квалификации</h2>
              <p
                class="u-align-left u-custom-font u-font-pt-sans u-text u-text-custom-color-5 u-text-2">
                    <span style="font-weight: 700;">
                      <br>1997 г.
                    </span> «Эндоскопические методы лечения мочекаменной
                болезни», Клиника урологии им
                Фронштейна при Первом Московском государственном медицинском
                инст​итуте<br>
                <span style="font-weight: 700;"> 2012 г.</span>
                «Эндоскопическая урология»,&nbsp;РМАПО, г. Москва<br>
                <span style="font-weight: 700;"> 2016 г.</span> «Андрология»
                РМАПО, г. Москва<br>
                <span style="font-weight: 700;"> 2016 г.</span> «Лазерные
                технологии в урологии», РМАПО, г. Москва<br>
                <span style="font-weight: 700;"> 2019 г.</span>
                «Лапароскопическая хирургия» кафедра хирургии ДГМУ, г.
                Махачкала<br>
                <span style="font-weight: 700;"> 2022 г.</span> «Клиническая
                урология» на кафедре урологии АстГМУ в г. Астрахань&nbsp;
              </p>
            </div>
          </div>
          <div
            class="u-container-style u-layout-cell u-size-32-md u-size-32-sm u-size-32-xs u-size-38-lg u-size-38-xl u-layout-cell-2"
            data-animation-name="customAnimationIn"
            data-animation-duration="1500" data-animation-delay="500">
            <div
              class="u-container-layout u-valign-bottom-xl u-container-layout-2">
              <p
                class="u-custom-font u-font-roboto u-text u-text-custom-color-3 u-text-default u-text-3">
                Полный список услуг:<span style="font-weight: 700;"></span>
              </p>
              <p
                class="u-custom-font u-font-pt-sans u-text u-text-custom-color-5 u-text-4">
                Лечение мужского бесплодия<br>Лечение варикоцеле<br>Лечение
                водянки яичка<br>Лечение острого воспаления яичка и
                придатка<br>Лечение повреждений мочеполовой системы<br>Лечение
                аденомы предстательной железы (ДГПЖ)<br>Лечение мочекаменной
                болезни<br>Лечение кист почек<br>Лечение острого и хронического
                простатита <br>⁠Лечение уретрита<br>⁠Лечение пиелонефрита<br>⁠Лечение
                гидронефроза<br>Лечение&nbsp;фимоза<br>⁠Цистоскопия<br>⁠Бужирование
                уретры<br>⁠Катетеризация уретры<br>⁠Замена надлобковой
                дренажной трубки<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer
  class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer"
  id="footer">
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Арбулиев Камиль
      Могамедович <br>©2025 г. Все права защищены.
    </p>
    <a href="tel:+79285601155"
       class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1">
      <span class="u-icon"><svg class="u-svg-content"
                                viewBox="0 0 405.333 405.333" x="0px" y="0px"
                                style="width: 1em; height: 1em;"><path
        d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span>+7
      928 560-11-55
    </a>
    <a href="tel:+79034233985"
       class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2">
      <span class="u-icon"><svg class="u-svg-content"
                                viewBox="0 0 405.333 405.333" x="0px" y="0px"
                                style="width: 1em; height: 1em;"><path
        d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span>+7
      903 423-39-85
    </a>
  </div>
</footer>

</body>
</html>