{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords"
        content="Медицинский центр, Медицинские услуги, Андрология, Урология, Нефрология">
  <meta name="description"
        content="Уролог, андролог, доктор медицинских наук, член правления Российского общества урологов, заведующий кафедрой урологии ДГМУ, сотрудник отделения рентген-эндоскопической урологии в Республиканском урологическом центре в г. Махачкала, врач уролог МЦ «ООО Целитель» в г Махачкала. ">
  <meta property="og:title" content="Арбулиев Камиль Магомедович">
  <meta property="og:description"
        content="Уролог, андролог, доктор медицинских наук, член правления Российского общества урологов, заведующий кафедрой урологии ДГМУ, сотрудник отделения рентген-эндоскопической урологии в Республиканском урологическом центре в г. Махачкала, врач уролог МЦ «ООО Целитель» в г Махачкала. ">
  <meta property="og:image" content="images/image.png">
  <title>Арбулиев Камиль Магомедович</title>
  <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="../static/css/index.css" media="screen">
  <script class="u-script" type="text/javascript" src="../static/js/jquery.js"
          defer=""></script>
  <script class="u-script" type="text/javascript"
          src="../static/js/nicepage.js" defer=""></script>


  <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Roboto+Slab:100,200,300,400,500,600,700,800,900">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site2",
		"url": "/",
		"logo": "images/2025-03-09142332.png"
}</script>
  <meta name="theme-color" content="#7391c4">
  <meta property="og:type" content="website">
  <link rel="canonical" href="/static">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body
  data-home-page="https://site2-9350.nicepage.io/Главная.html?version=d3a54ee4-0104-6314-3e1d-9f11bf60efa7"
  data-home-page-title="Главная" data-path-to-root="./"
  data-include-products="false" class="u-body u-xl-mode" data-lang="ru">
<header
  class="u-clearfix u-custom-color-2 u-header u-valign-middle-xs u-header"
  id="header"><a href="../" data-page-id="546228711"
                 class="u-image u-logo u-image-1" data-image-width="413"
                 data-image-height="128" title="Главная">
  <img src="../static/images/2025-03-09142332.png"
       class="u-logo-image u-logo-image-1">
</a>
  <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1"
       data-submenu-level="on-click">
    <div class="menu-collapse u-custom-font u-font-roboto"
         style="font-size: 1.375rem; letter-spacing: 0px;">
      <a
        class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-hamburger-link u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-palette-2-base u-hamburger-link-1"
        href="#">
        <svg class="u-svg-link" viewBox="0 0 24 24">
          <use xlink:href="#menu-hamburger"></use>
        </svg>
        <svg class="u-svg-content" version="1.1" id="menu-hamburger"
             viewBox="0 0 16 16" x="0px" y="0px"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect y="1" width="16" height="2"></rect>
            <rect y="7" width="16" height="2"></rect>
            <rect y="13" width="16" height="2"></rect>
          </g>
        </svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-custom-font u-font-roboto u-nav u-unstyled u-nav-1">
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="../bio/" style="padding: 10px 16px;">О себе</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="..#carousel_a251" data-page-id="546228711"
          style="padding: 10px 16px;">Услуги</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="../bio/#carousel_7a9f" data-page-id="1934716400"
          style="padding: 10px 16px;">Сертификаты</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="../reviews/" style="padding: 10px 16px;">Отзывы</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="../#carousel_aa08" data-page-id="546228711"
          style="padding: 10px 16px;">Статьи</a>
        </li>
        <li class="u-nav-item"><a
          class="u-button-style u-nav-link u-text-active-custom-color-5 u-text-custom-color-5 u-text-hover-custom-color-3"
          href="../#carousel_204c" data-page-id="546228711"
          style="padding: 10px 16px;">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div
        class="u-container-style u-custom-color-5 u-inner-container-layout u-sidenav">
        <div class="u-inner-container-layout u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul
            class="u-align-center u-custom-font u-font-roboto-slab u-nav u-popupmenu-items u-text-custom-color-6 u-unstyled u-nav-2">
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../bio/">О себе</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../#carousel_a251"
                                      data-page-id="546228711">Услуги</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../bio/#carousel_7a9f"
                                      data-page-id="1934716400">Сертификаты</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../reviews">Отзывы</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../#carousel_aa08"
                                      data-page-id="546228711">Статьи</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                      href="../#carousel_204c"
                                      data-page-id="546228711">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
  </nav>
</header>
<section
  class="u-align-left u-clearfix u-container-align-left u-container-align-left-lg u-container-align-left-xl u-image u-valign-middle-sm u-valign-middle-xs u-section-1"
  id="carousel_b7e9">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div
      class="custom-expanded data-layout-selected u-clearfix u-expanded-width-lg u-expanded-width-xl u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-left u-container-align-left u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-left-cell u-size-31 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <h1
                class="u-custom-font u-font-lato u-text u-text-body-alt-color u-text-1">
                Доверие опыт результат</h1>
              <h5
                class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-2">
                Арбулиев Камиль Магомедович</h5>
              <p class="u-text u-text-body-alt-color u-text-3"> Здоровье — это
                основа счастливой жизни. Я предлагаю современные методы
                диагностики и лечения урологических заболеваний, обеспечивая
                комфорт, конфиденциальность и эффективный результат каждому
                пациенту.</p>
            </div>
          </div>
          <div
            class="u-align-left u-container-align-left u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-right-cell u-size-29 u-layout-cell-2">
            <div
              class="u-container-layout u-valign-bottom-lg u-valign-bottom-sm u-valign-bottom-xl u-valign-bottom-xs u-container-layout-2">
              <img class="custom-expanded u-image u-image-default u-image-1"
                   src="../static/images/WhatsApp2025-03-1321.35.35_bf85a4fd-Photoroom.png"
                   alt="" data-image-width="640" data-image-height="626">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-2"
         id="carousel_1559">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1
      class="u-custom-font u-font-lato u-text u-text-palette-4-base u-text-1">
      Специализация</h1>
    <p class="u-text u-text-grey-50 u-text-2">Я предлагаю вам и вашей семье
      полный спектр медицинских услуг в данных областях</p>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-1 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
          <div
            class="u-container-layout u-similar-container u-container-layout-1">
            <span
              class="u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1"><img
              src="../static/images/3974828-eeaa0bd8.png" alt=""></span>
            <h4 class="u-text u-text-palette-4-base u-text-3">Урология </h4>
            <p class="u-text u-text-custom-color-5 u-text-4"> Область
              клинической медицины, изучающая этиологию,
              патогенез, диагностику заболеваний органов мочевой системы,
              половой системы и
              других патологических процессов в забрюшинном пространстве и
              разрабатывающая
              методы их лечения и профилактики.</p>
          </div>
        </div>
        <div
          class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-1 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
          <div
            class="u-container-layout u-similar-container u-container-layout-2">
            <span
              class="u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-2"><img
              src="../static/images/7284131-5aff5e26.png" alt=""></span>
            <h4 class="u-text u-text-palette-4-base u-text-5">Андрология</h4>
            <p class="u-text u-text-custom-color-5 u-text-6"> Область медицины,
              изучающей мужчин, мужскую анатомию и
              физиологию, заболевания мужской половой сферы и методы их
              лечения.</p>
          </div>
        </div>
        <div
          class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-1 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
          <div
            class="u-container-layout u-similar-container u-container-layout-3">
            <span
              class="u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-3"><img
              src="../static/images/7413283-e02fdc70.png" alt=""></span>
            <h4 class="u-text u-text-palette-4-base u-text-7">Нефрология</h4>
            <p class="u-text u-text-custom-color-5 u-text-8"> Раздел медицины,
              изучающий почки, их строение,
              функционирование, методы исследования: УЗИ, КТ, МРТ,
              ПЭТ, ОФЭКТ, заболевания и лечение. Смежными направлениями
              дифференциальной
              диагностики являются нефрохирургия и урология. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-3" id="carousel_7a9d">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div
      class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-33 u-size-60-md">
            <div class="u-layout-col">
              <div
                class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-25 u-layout-cell-1">
                <div
                  class="u-border-1 u-border-custom-color-4 u-container-layout u-valign-top u-container-layout-1">
                  <h1
                    class="u-custom-font u-font-lato u-text u-text-palette-4-base u-text-1">
                    <span style="font-weight: 700;">Здоровье</span> мочеполовой
                    системы – ключ к качественной жизни<br style="">
                  </h1>
                </div>
              </div>
              <div
                class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-right-cell u-size-35 u-image-1"
                src="" data-image-width="1900" data-image-height="900">
                <div class="u-container-layout u-container-layout-2"
                     src=""></div>
              </div>
            </div>
          </div>
          <div class="u-size-27 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-size-35">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-60 u-layout-cell-3"
                    src="">
                    <div
                      class="u-border-1 u-border-custom-color-4 u-container-layout u-container-layout-3"
                      src="">
                      <h2
                        class="u-custom-font u-font-lato u-text u-text-palette-4-base u-text-2">
                        Консультация&nbsp;<br>уролога-андролога
                      </h2>
                      <p class="u-text u-text-custom-color-5 u-text-3"> Не
                        откладывайте здоровье на потом! Получите
                        профессиональную консультацию уролога. Индивидуальный
                        подход, разбор анализов и рекомендации по лечению.</p>
                      <a href="#carousel_204c" data-page-id="546228711"
                         class="u-active-white u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-lato u-hover-white u-palette-4-light-2 u-radius-0 u-text-custom-color-5 u-btn-1"
                         data-animation-name="flipIn"
                         data-animation-duration="2000"
                         data-animation-direction="X">записаться </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-25">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-size-25 u-image-2"
                    src="" data-image-width="404" data-image-height="500">
                    <div class="u-container-layout u-container-layout-4"
                         src=""></div>
                  </div>
                  <div
                    class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-35 u-layout-cell-5">
                    <div
                      class="u-border-1 u-border-custom-color-4 u-container-layout u-container-layout-5">
                      <h5 class="u-text u-text-palette-4-base u-text-4">
                        Диагностика урологических заболеваний</h5>
                      <p class="u-text u-text-custom-color-5 u-text-5">
                        Регулярное обследование – залог здоровья. Я предлагаю
                        комплексную диагностику мочеполовой системы, УЗИ,
                        лабораторные анализы и современный подход к
                        лечению.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="u-align-left u-clearfix u-container-align-left u-palette-4-light-1 u-section-4"
  id="carousel_39e8">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div
      class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
            <div
              class="u-container-layout u-valign-top-lg u-valign-top-xl u-container-layout-1">
              <h1
                class="u-align-left u-custom-font u-font-lato u-text u-text-body-alt-color u-text-1">
                Почему выбирают меня? <br style="">
              </h1>
            </div>
          </div>
          <div
            class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
            <div
              class="u-container-layout u-valign-top-sm u-container-layout-2">
                  <span
                    class="u-icon u-icon-circle u-text-body-alt-color u-icon-1"><svg
                    class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                    viewBox="0 0 27.555 27.555" style=""><use
                    xlink:href="#svg-0947"></use></svg><svg
                    class="u-svg-content" viewBox="0 0 27.555 27.555" x="0px"
                    y="0px" id="svg-0947"
                    style="enable-background:new 0 0 27.555 27.555;"><g><path
                    d="M13.777,0C7.108,0,1.701,5.407,1.701,12.076c0,3.45,1.454,6.553,3.773,8.752L5.07,27.555l5.736-3.787   c0.952,0.241,1.944,0.383,2.971,0.383c6.67,0,12.076-5.406,12.076-12.076C25.854,5.407,20.447,0,13.777,0z M12.61,11.342   c0,1.24-0.258,2.219-0.774,2.936s-1.4,1.352-2.654,1.9l-0.945-1.789c0.771-0.361,1.304-0.722,1.598-1.08   c0.295-0.36,0.459-0.784,0.493-1.273H8.237V7.974h4.373V11.342z M19.317,11.342c0,1.24-0.258,2.219-0.774,2.936   c-0.516,0.719-1.4,1.352-2.654,1.9l-0.944-1.789c0.771-0.361,1.304-0.722,1.599-1.08c0.295-0.36,0.459-0.784,0.493-1.273h-2.091   V7.974h4.373L19.317,11.342L19.317,11.342z"></path>
</g></svg></span>
              <img
                class="u-border-4 u-border-custom-color-5 u-image u-image-round u-radius u-image-1"
                alt="" data-image-width="1280" data-image-height="720"
                src="../static/images/image.png?rand=52a7">
              <p class="u-text u-text-body-alt-color u-text-2"> Здоровье не
                терпит ожидания! Записывайтесь на приём в удобное для вас время
                – я всегда готов помочь. Богатый опыт, современные методы и
                индивидуальный подход позволяют мне эффективно решать
                урологические проблемы любой сложности. Ваше здоровье – моя
                забота!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-left u-clearfix u-container-align-left u-section-5"
         id="carousel_e375">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-light-3 u-repeater-item u-shape-rectangle u-list-item-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1000" data-animation-direction="Up"
          data-animation-out="0">
          <div
            class="u-container-layout u-similar-container u-container-layout-1">
            <div
              class="u-border-15 u-border-palette-4-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
            <h3
              class="u-custom-font u-font-montserrat u-text u-text-palette-4-base u-text-1"
              data-animation-name="counter" data-animation-event="scroll"
              data-animation-duration="3000">&gt;300</h3>
            <p
              class="u-custom-font u-heading-font u-text u-text-palette-4-base u-text-2">
              пациентов в год </p>
            <p class="u-text u-text-custom-color-5 u-text-3"> Каждый год я
              помогаю сотням людей избавиться от урологических проблем, вернуть
              комфорт и уверенность в себе.</p>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-light-3 u-repeater-item u-shape-rectangle u-list-item-2"
          data-animation-name="customAnimationIn"
          data-animation-duration="1000" data-animation-direction="Up"
          data-animation-out="0">
          <div
            class="u-container-layout u-similar-container u-container-layout-2">
            <div
              class="u-border-15 u-border-palette-4-dark-1 u-expanded-width u-line u-line-horizontal u-line-2"></div>
            <h3
              class="u-custom-font u-font-montserrat u-text u-text-palette-4-base u-text-4"
              data-animation-name="counter" data-animation-event="scroll"
              data-animation-duration="3000">34</h3>
            <p
              class="u-custom-font u-heading-font u-text u-text-palette-4-base u-text-5">
              Года практики</p>
            <p class="u-text u-text-custom-color-5 u-text-6"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Общемедицинский
              стаж 34 года, стаж работы по специальности 30 лет,
              с 2006 года врач-уролог высшей категории, в 2000 году защитил
              кандидатскую
              диссертацию, а в 2010 году докторскую диссертацию.</p>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-light-3 u-repeater-item u-shape-rectangle u-list-item-3"
          data-animation-name="customAnimationIn"
          data-animation-duration="1000" data-animation-direction="Up"
          data-animation-out="0">
          <div
            class="u-container-layout u-similar-container u-container-layout-3">
            <div
              class="u-border-15 u-border-palette-4-dark-1 u-expanded-width u-line u-line-horizontal u-line-3"></div>
            <h3
              class="u-custom-font u-font-montserrat u-text u-text-palette-4-base u-text-7"
              data-animation-name="counter" data-animation-event="scroll"
              data-animation-duration="3000">99%</h3>
            <p
              class="u-custom-font u-heading-font u-text u-text-palette-4-base u-text-8">
              Пациентов </p>
            <p class="u-text u-text-custom-color-5 u-text-9"> Отмечают
              значительное улучшение состояния уже после первых консультаций и
              лечения.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-6"
         id="carousel_aa08">
  <div
    class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
    <h2
      class="u-custom-font u-font-lato u-text u-text-default u-text-palette-4-base u-text-1">
      Мои работы</h2>
    <p class="u-text u-text-custom-color-5 u-text-2"> Делюсь профессиональным
      опытом, важной информацией и последними исследованиями в области
      урологии. Здесь вы найдете статьи о профилактике, диагностике и
      современных методах лечения урологических заболеваний.</p>
    <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        {% for article in articles %}
          <div
            class="u-border-1 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1"
            data-animation-name="" data-animation-duration="0"
            data-animation-delay="0" data-animation-direction=""
            data-animation-name="" data-animation-duration="0"
            data-animation-delay="0" data-animation-direction="">
            <div
              class="u-container-layout u-similar-container u-container-layout-1">
              <img class="u-expanded-width u-image u-image-default u-image-1"
                   src="


                     {% if article.image %}{{ article.image.url }}{% else %}{% static 'images/default-image.jpg' %}{% endif %}"
                   alt="{{ article.title }}"
                   data-image-width="400" data-image-height="265">
              <h3
                class="u-align-center u-text u-text-custom-color-3 u-text-default u-text-7">
                {{ article.title }}
              </h3>
              <p
                class="u-align-center u-text u-text-custom-color-5 u-text-default u-text-8">
                {{ article.content|truncatewords:80 }}<a
                href="{% url 'article_detail' article.id %}">(Читать полную версию)</a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
      <a
        class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
        href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
        <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
      </a>
      <a
        class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
        href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
        <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
      </a>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-7" id="carousel_a251">
  <div
    class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div
          class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-20 u-size-20-md u-image-1"
          data-image-width="1280" data-image-height="857">
          <div
            class="u-container-layout u-valign-middle u-container-layout-1"></div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-layout-cell u-palette-4-base u-size-20 u-size-20-md u-layout-cell-2">
          <div class="u-container-layout u-valign-middle u-container-layout-2">
                <span
                  class="u-icon u-icon-circle u-text-body-alt-color u-icon-1"><svg
                  class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                  viewBox="0 0 484 484" style="undefined"><use
                  xlink:href="#svg-08ce"></use></svg><svg class="u-svg-content"
                                                          viewBox="0 0 484 484"
                                                          x="0px" y="0px"
                                                          id="svg-08ce"
                                                          style="enable-background:new 0 0 484 484;"><g><g><path
                  d="M414.74,95.558c-21.512-21.516-50.12-33.364-80.544-33.364c-30.428,0-59.032,11.848-80.544,33.364l-9.044,9.044    l-9.044-9.044c-21.516-21.516-50.124-33.364-80.548-33.364c-30.428,0-59.032,11.848-80.544,33.364    c-44.416,44.408-44.416,116.672,0,161.084L236.12,418.29c2.344,2.344,5.412,3.516,8.484,3.516c3.072,0,6.14-1.172,8.492-3.512    L414.74,256.646c21.516-21.512,33.364-50.12,33.364-80.544C448.104,145.674,436.256,117.07,414.74,95.558z M397.768,239.674    l-153.16,153.164L91.444,239.674c-35.056-35.056-35.056-92.092,0-127.148c16.98-16.98,39.556-26.332,63.572-26.332    c24.012,0,46.592,9.352,63.576,26.332l17.528,17.528c4.688,4.688,12.28,4.688,16.968,0l17.528-17.528    c16.984-16.98,39.56-26.332,63.576-26.332s46.596,9.352,63.576,26.332C432.824,147.582,432.824,204.618,397.768,239.674z"></path>
</g>
</g><g><g><path d="M56,213.806H12c-6.628,0-12,5.372-12,12s5.372,12,12,12h44c6.628,0,12-5.372,12-12S62.628,213.806,56,213.806z"></path>
</g>
</g><g><g><path d="M431.992,214.194H317.144l-17.872-39.308c-1.348-2.972-4.284-4.78-7.624-4.684c-3.26,0.14-6.108,2.24-7.196,5.316    l-36.528,102.936l-44.408-122.98c-1.096-3.036-3.916-5.12-7.148-5.272c-3.456-0.16-6.236,1.66-7.612,4.584l-29.84,63.408h-98.92    c-4.42,0-8,3.584-8,8s5.264,7.612,9.684,7.612h104c3.1,0,4.236-1.4,5.556-4.204l23.788-50.548l45.452,125.86    c1.144,3.168,4.152,5.28,7.524,5.28c0.008,0,0.016,0,0.016,0c3.38-0.008,6.388-2.14,7.516-5.324l37.376-105.332l11.804,25.964    c1.296,2.86,5.832,4.304,8.968,4.304h120c4.416,0,6.312-3.196,6.312-7.612S436.408,214.194,431.992,214.194z"></path>
</g>
</g><g><g><path d="M472,209.806h-36c-6.628,0-12,5.372-12,12s5.372,12,12,12h36c6.628,0,12-5.372,12-12S478.628,209.806,472,209.806z"></path>
</g>
</g></svg></span>
            <h2
              class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1">
              Мои услуги</h2>
            <p class="u-text u-text-body-alt-color u-text-2">Регулярное
              посещение уролога - залог здорового образа жизни. Независимо от
              того, чувствуете ли вы дискомфорт или просто приходите на
              обследование, я хочу убедиться, что Ваше здоровье в полном
              порядке!</p>
            <a href="../bio/#sec-1838" data-page-id="1934716400"
               class="u-active-white u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-lato u-hover-white u-palette-4-light-2 u-radius-0 u-text-custom-color-5 u-btn-1"
               data-animation-name="flipIn" data-animation-duration="2000"
               data-animation-direction="X">полный Список </a>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-right-cell u-size-20 u-size-20-md u-image-2"
          data-image-width="1024" data-image-height="683">
          <div
            class="u-container-layout u-valign-middle u-container-layout-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-4-dark-2 u-section-8" id="carousel_08e0">
  <div
    class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-1">
          <div
            class="u-container-layout u-similar-container u-container-layout-1">
            <span
              class="u-file-icon u-icon u-text-custom-color-7 u-icon-1"><img
              src="../static/images/2760486-dd6e80c2.png" alt=""></span>
            <h4 class="u-align-center u-text u-text-1"> Первая помощь при
              острой задержке мочи<br>
            </h4>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-2">
          <div
            class="u-container-layout u-similar-container u-container-layout-2">
            <span
              class="u-file-icon u-icon u-text-custom-color-7 u-icon-2"><img
              src="../static/images/10217256-47df03a0.png" alt=""></span>
            <h4 class="u-align-center u-text u-text-2"> Первая помощь при
              перекрутка и травме яичка<br>
            </h4>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-3">
          <div
            class="u-container-layout u-similar-container u-container-layout-3">
            <span
              class="u-file-icon u-icon u-text-custom-color-7 u-icon-3"><img
              src="../static/images/508836-3c62495b.png" alt=""></span>
            <h4 class="u-align-center u-text u-text-3"> Дробление камней в
              почке, в мочеточнике и в мочевом пузыре</h4>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-4">
          <div
            class="u-container-layout u-similar-container u-container-layout-4">
            <span
              class="u-file-icon u-icon u-text-custom-color-7 u-icon-4"><img
              src="../static/images/5979046-5561f16e.png" alt=""></span>
            <h4 class="u-align-center u-text u-text-4"> Установка и удаление
              мочеточникового&nbsp;стента</h4>
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-5">
          <div
            class="u-container-layout u-similar-container u-container-layout-5">
            <span
              class="u-file-icon u-icon u-text-custom-color-7 u-icon-5"><img
              src="../static/images/2180423-35908932.png" alt=""></span>
            <h4 class="u-align-center u-text u-text-5">Обрезание&nbsp;<br>крайней&nbsp;<br>плоти
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-9" id="carousel_204c">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div
      class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-container-style u-layout-cell u-right-cell u-size-35-lg u-size-35-md u-size-35-sm u-size-35-xs u-size-39-xl u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <div class="u-absolute-hcenter u-expanded u-grey-light-2 u-map">
                <div class="embed-responsive">
                  <iframe class="embed-responsive-item"
                          src="https://maps.google.com/maps?output=embed&amp;q=%D0%90%D0%B4%D1%80%D0%B5%D1%81%3A%20%E2%80%8B%D0%B3.%20%D0%9C%D0%B0%D1%85%D0%B0%D1%87%D0%BA%D0%B0%D0%BB%D0%B0%2C%D1%83%D0%BB.%20%D0%90%D1%85%D0%BC%D0%B5%D0%B4%D0%B0%20%D0%9C%D0%B0%D0%B3%D0%BE%D0%BC%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%2C%204%D0%BA1&amp;z=17&amp;t=k"
                          data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMiVEMCU5MCVEMCVCNCVEMSU4MCVEMCVCNSVEMSU4MSUzQSUyMCVFMiU4MCU4QiVEMCVCMy4lMjAlRDAlOUMlRDAlQjAlRDElODUlRDAlQjAlRDElODclRDAlQkElRDAlQjAlRDAlQkIlRDAlQjAlMkMlRDElODMlRDAlQkIuJTIwJUQwJTkwJUQxJTg1JUQwJUJDJUQwJUI1JUQwJUI0JUQwJUIwJTIwJUQwJTlDJUQwJUIwJUQwJUIzJUQwJUJFJUQwJUJDJUQwJUI1JUQwJUI0JUQwJUJFJUQwJUIyJUQwJUIwJTJDJTIwNCVEMCVCQTElMjIlMkMlMjJ6b29tJTIyJTNBMTclMkMlMjJ0eXBlSWQlMjIlM0ElMjJzYXRlbGxpdGUlMjIlMkMlMjJsYW5nJTIyJTNBbnVsbCUyQyUyMmFwaUtleSUyMiUzQW51bGwlMkMlMjJtYXJrZXJzJTIyJTNBJTVCJTVEJTdE"></iframe>
                </div>
              </div>
            </div>
          </div>
          <div
            class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-21-xl u-size-25-lg u-size-25-md u-size-25-sm u-size-25-xs u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <p
                class="u-custom-font u-font-roboto u-text u-text-custom-color-5 u-text-1">
                Контактные данные​: </p>
              <h2
                class="u-custom-font u-font-montserrat u-text u-text-palette-4-base u-text-2">
                <a
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-8 u-btn-1"
                  href="tel:+79285601155">+7 928 560-11-55<br>
                </a>
              </h2>
              <h2
                class="u-custom-font u-font-montserrat u-text u-text-palette-4-base u-text-3">
                <a
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-8 u-btn-2"
                  href="tel:+79034233985"> +7 903 423-39-85 <br>
                </a>
              </h2>
              <img
                class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
                src="../static/images/Telegram_Messenger.png" alt=""
                data-image-width="1024" data-image-height="1024"
                data-href="https://t.me/kamildoc" data-target="_blank">
              <img class="u-image u-image-contain u-image-default u-image-2"
                   src="../static/images/whatsapp.png" alt=""
                   data-image-width="796" data-image-height="800"
                   data-href="https://api.whatsapp.com/send/?phone=79674013247&amp;text&amp;type=phone_number&amp;app_absent=0"
                   data-target="_blank">
              <h6 class="u-text u-text-custom-color-5 u-text-4">
                <a
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-3"
                  href="https://yandex.ru/maps/org/lekar_klinik/113473105692/?ll=47.454175%2C42.983575&amp;z=17.01"
                  title="Яндекс карты" target="_blank">Адрес: ​г. Махачкала,
                  <br>ул. Ахмеда Магомедова, 4к1
                </a>
              </h6>
              <span class="u-file-icon u-icon u-icon-1"><img
                src="../static/images/2150.png" alt=""></span>
              <p
                class="u-custom-font u-font-roboto u-text u-text-custom-color-5 u-text-5">
                <a
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-4"
                  href="https://vk.com/id713368737" title="Камиль Арбулиев"
                  target="_blank">: Арбулиев Камиль </a>
              </p>
              <span
                class="u-file-icon u-icon u-text-palette-1-base u-icon-2"><img
                src="../static/images/646094-d4bf9410.png" alt=""></span>
              <p
                class="u-custom-font u-font-roboto u-text u-text-custom-color-5 u-text-6">
                <a
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-5"
                  href="mailto:kamil-dok@mail.ru">: kamil-​​​​dok@mail.ru </a>
              </p>
              <img
                class="u-image u-image-default u-preserve-proportions u-image-3"
                src="../static/images/logo-redesign-48.png" alt=""
                data-image-width="48" data-image-height="48">
              <p class="u-custom-font u-font-roboto u-text u-text-7">
                <a
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-5 u-text-hover-custom-color-4 u-btn-6"
                  href="https://dzen.ru/id/671a4db200651732512cb93e?ysclid=m7vzvpjnsp929772329"
                  target="_blank">: Яндекс Дзен </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer
  class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer"
  id="footer">
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Арбулиев Камиль
      Могамедович <br>©2025 г. Все права защищены.
    </p>
    <a href="tel:+79285601155"
       class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1">
      <span class="u-icon"><svg class="u-svg-content"
                                viewBox="0 0 405.333 405.333" x="0px" y="0px"
                                style="width: 1em; height: 1em;"><path
        d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span>+7
      928 560-11-55
    </a>
    <a href="tel:+79034233985"
       class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2">
      <span class="u-icon"><svg class="u-svg-content"
                                viewBox="0 0 405.333 405.333" x="0px" y="0px"
                                style="width: 1em; height: 1em;"><path
        d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span>+7
      903 423-39-85
    </a>
  </div>
</footer>

</body>
</html>